<div class="container">
  <div class="head">
    <h3>Alteração de senha</h3>
    <span>Realize a sua redefinição de senha, sua senha deve conter pelo menos
      6 caractéres e incluir uma  combinação de letras, números e caracteres especiais.</span>
  </div>
  <form action="">
    <div class="form">
      <div class="password mb-3">
        <label for="password">
         Nova Senha
        </label>
        <div class="inline-input-password">
          <input [type]="password" name="password" id="password" class="form-control" required />
          <button type="button" class="btn btn-lg btn-visibility" (click)="updateVisibilityPassword(true)">
          <mat-icon class="mat-18" aria-hidden="true" *ngIf="!show">visibility</mat-icon>
          <mat-icon class="mat-18" aria-hidden="true" *ngIf="show">visibility_off</mat-icon>
          </button>
        </div>
      </div>

      <div class="confirm-password">
        <label for="confirm-password">
          Confirmar senha
        </label>
        <div class="inline-input-password">
          <input [type]="confirm_password" name="confirm-password" id="confirm-password" class="form-control" required />
          <button type="button" class="btn btn-lg btn-visibility" (click)="updateVisibilityPassword(false)">
          <mat-icon class="mat-18" aria-hidden="true" *ngIf="!show_confirm_password">visibility</mat-icon>
          <mat-icon class="mat-18" aria-hidden="true" *ngIf="show_confirm_password">visibility_off</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div class="button-login">
        <button type="button" class="btn btn-lg">Redefinir Senha</button>
      </div>
    </div>
  </form>
</div>

