<app-head></app-head>
<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="d-flex flex-column description-project">
      <span id="title-project">{{project[0].name}}</span>
      <span id="title-description">{{project[0].description}}</span>
    </div>
    <div class="d-flex justify-content-center mt-5 buttons-functions" *ngIf="user.profile === 'ADMINISTRADOR' || user.profile === 'GERENTE' || user.profile === 'LIDER_TECNICO' ">
      <div class="mt-2">
        <button class="btn btn-primary" (click)="createActivity()">Nova Atividade</button>
        <button class="btn btn-success" (click)="createColumm()">Criar Coluna</button>
        <button class="btn btn-secondary" (click)="viewColunas()">Editar Colunas</button>
      </div>
    </div>
    <div class="col-1 mb-3 board-container">
      <div class="d-flex justify-content-between align-items-center p-2 shadow-sm column-header">
        <h2 class="m-0">Prioridade</h2>
      </div>
      <div cdkDropList [cdkDropListData]="" cdkDropListOrientation="vertical" *ngFor="let tag of tagsActivity" class="example-list-tags" >
        <span>{{tag.name}}</span>
      </div>
    </div>
    <div class="col-1 mb-3 board-container" *ngFor="let column of sectorActivity">
      <div class="d-flex justify-content-between align-items-center p-2 shadow-sm column-header">
        <h2 class="m-0">{{column.name}}</h2>
      </div>
      <div cdkDropList [cdkDropListData]="column.activities" (cdkDropListDropped)="drop($event, column.id)" class="example-list" >
        <div cdkDrag class="example-box" *ngFor="let item of column.activities" [cdkDragDisabled]="item.isBlock">
          <app-board-item [item]="item" [project] = "project"
          (emitDeleteCard)="onDeleteCard($event, column.id)"
          (emitEditCard)="onEditCard($event, column.id)"
          (emitViewDependenciesCard)="updateCard($event, column.id)"
          (emitViewCardFull)="viewActivity($event, column.id)"></app-board-item>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="d-flex">
    <div class="d-flex flex-row justify-content-start align-items-center container-legend"
    *ngFor="let item of labelsColors">
      <div class="box" [ngStyle]="{background: item.color}"></div>
      <label class="title-legend" for="">{{item.title}}</label>
    </div>
  </div> -->
</div>


