<div class="container">
  <div class="head">
    <h5>{{head}}</h5>
    <div class="info-colaborator">
      <span id="name-colaborator" *ngIf="infor != null && subInfor != null">{{infor}}  {{subInfor}}</span>
      <span *ngIf="label != null">{{label}}:<span id="responsible" *ngIf="infor3 != null">{{infor3}}</span></span>
    </div>

  </div>

  <div class="buttons">
    <div class="button-login">
      <button type="button" class="btn btn-lg" (click)="activeModal.close(true)">Excluir</button>
    </div>
    <div class="button-logout">
      <button type="button" class="btn btn-lg" (click)="activeModal.close(false)">Cancelar</button>
    </div>
  </div>
</div>
