<div  style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;" class="container">

  <div style="display: flex;" class="head" >
    <button style=" position: absolute;
    left: 0;" type="button" class="btn btn-lg" routerLink="/colaborators">
      <svg style="fill: #072047" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </button>
    <div>
      <h4>Visualizar dados Colaborador</h4>
      <span>informações de um colaborador da organização</span>
    </div>

  </div>
  <ng-container *ngIf="colaborator != null && colaborator != undefined">
    <div class="form-container">
      <div class="form-left">
        <label for="name">
          Nome
        </label>
        <span>{{colaborator.userInformation.name}}</span>
        <label for="username">
          Sobrenome
        </label>
        <span>{{colaborator.userInformation.username}}</span>

        <label for="login">
          Nome de usuário
        </label>
        <span>{{colaborator.login}}</span>
      </div>
      <div class="form-right">
        <label for="email">
          Email
        </label>
        <span>{{colaborator.userInformation.email}}</span>
        <label for="role">Cargo</label>
        <span>{{colaborator.profile}}</span>

        <label for="role">Projetos</label>
        <!-- <span *ngFor="let project of projects">{{project.name}}</span> -->
        <span *ngIf="projects === undefined || projects.length === 0">Sem Projetos</span>
        <a *ngIf="projects.length > 0"  (click)="viewProjectsUser()"><span>Ver projetos</span></a>

      </div>
    </div>
  </ng-container> 
</div>
