<div class="container-fluid mt-5">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="mes">Mês</label>
        <select id="mes" class="form-control" [(ngModel)]="mes" (change)="gerarCalendario()">
          <option *ngFor="let m of meses; let i = index" [value]="i + 1">{{ m }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="ano">Ano</label>
        <input type="number" id="ano" class="form-control" [(ngModel)]="ano" (change)="gerarCalendario()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Hora</th>
              <th>Dom</th>
              <th>Seg</th>
              <th>Ter</th>
              <th>Qua</th>
              <th>Qui</th>
              <th>Sex</th>
              <th>Sáb</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hora of horas">
              <td>{{ hora }}</td>
              <td *ngFor="let dia of diasSemana">
                <div>{{ dia }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  