<div class="container container-lg">
  <div class="child  mb-5">
    <div class="options-line">
      <p class="mt-1">Projetos: </p>
      <div  class="selection-colabrators-project">
      
        <select id="project" class="form-select" name="project" role="selectProject"
        (change)="filterUserProject($event)">
          <option ngValue="all" class="optionForm">Todos</option>
          <option *ngFor="let project of projects" [value]="project.id" class="optionForm">{{project.name}}</option>
        </select>
      </div>

      <div class="button-added-colaborator">
        <button type="button" class="btn btn-lg" routerLink="/added-colaborator">Novo Colaborador</button>
      </div>
    </div>
  </div>
  <hr/>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Colaboradores(a)</th>
          <th>Cargo</th>
          <!-- <th>Projetos</th> -->
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <span *ngIf="this.colaborators == undefined || this.colaborators.length == 0">Não há colaboradores cadastrados</span>
        <tr *ngFor="let colaborator of colaborators">
          <td *ngIf="user.userId != colaborator.id">{{colaborator.userInformation.name}}  {{colaborator.userInformation.username}}</td>
          <td *ngIf="user.userId != colaborator.id">{{colaborator.profile}}</td>
          <td *ngIf="user.userId != colaborator.id">
            <div class="options">
              <button id="btn-icon" type="button" class="btn" [routerLink]="['/edit-colaborator/' + colaborator?.id]">
                <img src="../../../assets/icons/edit.svg"/>
              </button>
              <!-- <button class="btn" type="button"><i class="fa fa-home"></i></button> -->
              <button type="button" class="btn" (click)="deleteColaborator(colaborator)">
                <img src="assets/icons/delete_forever.svg" />
              </button>
              <button class="btn view-info" [routerLink]="['/view-colaborator/' + colaborator?.id]"><span>Ver mais</span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
