<div style="border: 1px solid #ccc; border-radius: 4px; padding: 10px;" class="container">
  <div style="display: flex;" class="head">
    <button style=" position: absolute;
    left: 0;" type="button" class="btn btn-lg" routerLink="/colaborators">
      <svg style="fill: #072047" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </button>
    <div>
      <h4>Editar dados Colaborador</h4>
      <span>Editar as informações de um colaborador da organização</span>
    </div>
  </div>
  <form [formGroup]="formColaborator" action="" (submit)="update()">
    <div class="form-container">
      <div class="form-left">
        <label for="name">
          Nome
        </label>
        <span>{{colaborator.userInformation.name}}</span>
        <!-- <input type="text" name="name" id="name" class="form-control mb-3" autofocus> -->

        <label for="username">
          Sobrenome
        </label>
        <span>{{colaborator.userInformation.username}}</span>

        <!-- <input type="text" name="username" id="username" class="form-control mb-3" autofocus> -->

        <div class="selection-colabrators-role">
          <label for="role">Cargo</label>
          <select id="role" class="form-select role" name="role" formControlName="role" role="selectRole" >
            <option *ngFor="let role of profiles" [ngValue]="role" class="optionForm">{{role.description}}</option>
          </select>
          <span class="description-cargo-atual">cargo atual: <span class="cargo-atual">{{colaborator.profile}}</span></span>

        </div>

      </div>
      <div class="form-right">
        <label for="email">
          Email
        </label>
        <span>{{colaborator.userInformation.email}}</span>

        <!-- <input type="email" name="email" id="email" class="form-control mb-3" autofocus> -->


          <label for="login">
            Nome de usuário
          </label>
          <span>{{colaborator.login}}</span>

          <!-- <input type="text" name="login" id="login" class="form-control mb-3" autofocus> -->

          <div class="form-group projects">
            <label for="">Selecionar projeto</label>
            <ng-select
            [items]="projects"
            [(ngModel)]="projectsUser"
            formControlName="listProjects"
            [multiple]="true"
            class="form-control selection-project"
            bindLabel="name"
            bindValue= "id"
            role="selectedProjecties"
            [searchable]="true"
            [clearable]="true" [compareWith]="compareFunction">
            <ng-template class="form-select" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <div class="custom-checkbox">
                  <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox" class="custom-control-input" [(ngModel)]="item$.selected"/>
                  <label for="custom-control-label">{{item?.name}}</label>
                </div>
                <hr class="custom-hr-input">
            </ng-template>
            </ng-select>
          </div>

      </div>
    </div>

      <div class="buttons">
        <div class="button-login">
          <button type="submit" class="btn btn-lg" [disabled]="formColaborator.invalid || buttonDisabled">Atualizar</button>
        </div>
      </div>
  </form>
</div>
<ngx-spinner bdColor="rgba(255,255,255, 0.9)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
  <p>Salvando...</p>
</ngx-spinner>
