    <div class="modal-content modal-lg">
      <div class="modal-header d-flex">
        <div class="title w-100">
          <h4>Criar Atividade</h4>
        </div>
        <button type="button" class="btn-close close" data-dismiss="modal" (click)="activeModal.dismiss()">

        </button>
      </div>

      <div class="modal-body d-flex justify-content-center">
        <form class="d-flex flex-column align-items-center justify-content-between mt-2 mx-2 w-100"
          [formGroup]="formActivity" (submit)="formActivity.value.id == null ? save() : update()">
          <div class="d-flex flex-column justify-content-center w-100">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column mr-2">
                  <label>Titulo</label>
                  <input placeholder="Título" formControlName="title" class="form-control p-1 input-title" />
                </div>
                <div class="d-flex flex-column">
                  <label>Tempo estimado</label>
                  <select id="estimatedTime" class="form-select p-1" name="estimatedTime"
                  formControlName="estimatedTime" role="selectestimatedTime" placeholder="Tempo estimado">
                    <option *ngFor="let time of estimatedTimeList" [ngValue]="time" class="optionForm">{{ time.name }}
                    </option>
                  </select>
                  <div class="usedTimeDp" *ngIf="formActivity.value.id != null"><span>Tempo utilizado: </span><span>3d 6h</span></div>
                </div>
                <div class="d-flex flex-column timeEstimated" *ngIf="formActivity.value.id != null">
                  <label>Tempo utilizado</label>
                  <div class="d-flex flex-row">
                    <input  formControlName="usedTime" class="form-control p-1" />
                    <button type="button" class="btn btn-primary button-check">
                      <img src="assets/icons/check-lg.svg" />
                    </button>
                  </div>
                  <div class="usedTimeDp" *ngIf="formActivity.value.id != null"><span>Tempo restante: </span><span>3d 6h</span></div>
                </div>
              </div>

              <div class="mt-1">
                <label>Descrição</label>
                <textarea  placeholder="Descrição" type="text" rows="2" formControlName="description" class="form-control p-1  w-100"></textarea>
              </div>

              <div class="d-flex flex-row justify-content-between mt-3 select-input">
                <div class="d-flex flex-column mr-2">
                  <label for="selectUser">Responsável:</label>
                  <select id="selectUser" class="form-select select-response" name="selectUser" formControlName="userSelect"
                    role="selectUser">
                    <option *ngFor="let colaborator of colaborators" [ngValue]="colaborator" class="optionForm">{{colaborator.userInformation.name}} | {{colaborator.profile}}</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <label for="sectorActivity">Setor Atividade: </label>
                  <select id="sectorActivity" class="form-select select-sector" name="sectorActivity" formControlName="sectorActivity"
                    role="selectSectorActivity">
                    <option *ngFor="let sa of sectorActivity" [ngValue]="sa" class="optionForm">{{ sa.sectorActivity }}</option>
                  </select>
                </div>
              </div>

              <div class="d-flex flex-row justify-content-between mt-2 select-input">
                <div class="d-flex flex-column mr-2">
                  <label for="tagsActivity">Tag de priorização da Atividade:</label>
                  <select id="tagsActivity" class="form-select" name="tagsActivity" formControlName="tagsActivity"
                  role="selectTagsActivity">
                      <option class="optionForm">Selecione a tag de priorização da Atividade</option>
                      <option *ngFor="let ta of tagsActivity" [ngValue]="ta" class="optionForm">{{ ta.name }}</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <label for="statusPriorityActivity"> Prioridade Atividade:</label>
                  <select id="statusPriorityActivity" class="form-select" name="statusPriorityActivity"
                    formControlName="statusPriorityActivity" role="selectStatusPriorityActivity">
                    <option class="optionForm">Selecione a prioridade da Atividade</option>
                    <option *ngFor="let spa of statusPriorityActivity" [ngValue]="spa" class="optionForm">{{ spa.name }}
                    </option>
                  </select>
                </div>

              </div>


              <!--
            <label for="statusActivity"> <strong>Status Atividade:</strong> </label>
            <select id="statusActivity" class="form-control" name="statusActivity" formControlName="statusActivity" role="selectStatus" >
              <option class="optionForm">Selecione Status</option>
              <option *ngFor="let sa of statusActivity" [ngValue]="sa" class="optionForm">{{ sa.name }}</option>
            </select> -->

              <div class="form-group activity-dependents mt-2">
                <label for="">Selecione as atividades</label>
                <ng-select [items]="activitiesList" formControlName="activityDependentIds" [multiple]="true"
                  [(ngModel)]="owner" class="form-control test" bindLabel="title" bindValue="id" role="selectedActivities"
                  [searchable]="true" [clearable]="true" [compareWith]="compareFunction">
                  <ng-template class="testt" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <div class="custom-checkbox">
                      <input [ngModelOptions]="{standalone: true}" id="item-{{index}}" type="checkbox"
                        class="custom-control-input" [(ngModel)]="item$.selected" />
                      <label for="custom-control-label">{{item?.id}} - {{item?.identifier}} - {{item?.title}}</label>
                    </div>
                    <hr class="custom-hr-input">
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="mt-4 buttons">
            <button type="button" class="btn btn-danger" (click)="activeModal.close(false)">Cancelar</button>
            <button type="submit" class="btn btn-primary ml-2"
              [disabled]="formActivity.invalid || buttonDisabled">Salvar</button>
          </div>
        </form>
      </div>
    </div>

