$blue: #007DB8

h4
    color: $blue
    margin: 0

label
  font-weight: 550
  color: #3a3939
  font-size: 14px


.input-title
  width: 300px

.select-input
  display: flex
  flex-direction: row
  select
    width: 350px

.buttons
  button
    margin: 2px

.usedTimeDp
  span
    font-size: 12px
    font-weight: 550
    color: #5c5b5b

.button-check
  margin-left: 2px
  border-radius: 4px
  width: 30px
  height: 35px
  display: flex
  justify-content: center
  align-items: center

.details-responsable
  span
    font-size: 13px
    font-weight: 500
#head-resizing
  display: flex
  flex-direction: row

.timeEstimated
  input
    width: 130px
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option
  background-color: rgba(255, 255, 255, 1.5)


@media (max-width: 992px)
  .select-input
    display: flex
    flex-direction: column
    select
      width: 100%
    .resizing
      margin-top: 4px

@media (max-width: 492px)
  #head-resizing
    display: flex
    flex-direction: column
    .input-title
      width: 100%
    .time-estimated
      margin-top: 4px
      select
        width: 100%

