\:host
  width: 100vw
  height: 100vh
.container
  width: 100%

.btn-add
  margin-right: 20px
  background-color: #072047
  color: #ffffff
  font-weight: 600
  font-size: 16px
  text-align: center
  display: flex
  justify-content: center

.button-added-project button:hover
   opacity: 0.9

.header-page
  display: flex
  justify-content: space-between

.card-body
  .inProgress, .finished
    span
      font-size: 14px

