<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse justify-content-between" id="navbar">
    <div></div>
    <div class="title-organization">
      <span>{{nameOrganization}}</span>
    </div>

    <div class="d-flex align-items-center justify-content-end info-user">
      <div class="btn-group mr-2 mini-profile">
        <button id="avatar" data-toggle="dropdown" aria-expanded="false" type="button" ana-role="user"
          placement="bottom" triggers="hover">
          <img src="assets/perfilDefault.jpg" width="48px" height="48px"
            class="rounded-circle dropdown-toggle" />
        </button>

        <div class="dropdown-menu dropdown-menu-end">

          <div class="d-flex justify-content-between">
            <div class="col">
              <p class="mb-0 text-primary m-0 fontAccessibility">
                <a class="text-primary fontAccessibility">
                  <strong>FIRST NAME</strong>
                  LAST NAME
                </a>
              </p>
              <button class="text-secondary fontAccessibility buttonAsLink" ana-role="link">
                <span>Editar Perfil</span>
              </button>
            </div>
            <div class="col-auto align-self-center">
              <button id="logout" type="button" ana-role="button" class="btn btn-danger btn-sm">
                <span class="mdi mdi-logout-variant mdi-16px"></span>
                Sair
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
