<div class="container">
<ng-container *ngIf="project != null && project != undefined">

  <div class="head">
    <h4>{{project.name}}</h4>
    <span>{{project.description}}</span>
  </div>
  <div class="form-container">
    <div class="progress">
      <div class="status">
        <span>Concluído</span>
      </div>
      <span id="porcent-progress">100% concluída</span>
    </div>

    <div class="container-infos">
      <div class="form-left">
        <!-- <label for="responsáveis">
          Responsáveis
        </label>
        <span>NAME 1, NAME 2, NAME 3...</span>
        <a><span>Ver responsáveis</span></a> -->

        <label for="activity">
          Quantidade de atividades
        </label>
        <span>33 atividades</span>
        <a (click)="viewActivities(false)"><span>Ver atividades</span></a>

        <label for="colaborator">
          Quantidade de atividades concluídas
        </label>
        <span>23 Atividades</span>
        <a  (click)="viewActivities(true)"><span>Ver atividades concluídas</span></a>
      </div>
      <div class="form-right">
        <label for="colaborator">
          Número de colaboradores
        </label>
        <span>{{project.members.length}} Colaboradores</span>
        <a (click)="viewColaborator()"><span>Ver colaboradores</span></a>
      </div>
    </div>

  </div>
  <div class="buttons">
    <div class="button-board">
      <button type="button" class="btn btn-lg">Ir para o Board</button>
    </div>
    <div class="button-login">
      <button type="button" class="btn btn-lg">Editar</button>
    </div>

    <div class="button-logout">
      <button type="button" class="btn btn-lg" routerLink="/projects">Voltar</button>
    </div>
  </div>
</ng-container>
</div>
