<div class="container">
<ng-container>
  <div class="content-head">
    <div class="head">
      <div class="head-title">
        <div><h4>{{project.name}}</h4></div>
        <div class=>
          <button id="btn-icon" type="button" class="btn" (click)="updateProject()">
            <img src="assets/icons/edit.svg" />
          </button>
        </div>

      </div>
      <div>
        <span>{{project.description}}</span>
      </div>
    </div>
  </div>

  <div class="form-container">
    <div class="progress" *ngIf="!project.isFinished && activities.length > 0">
      <div class="status-progress">
        <span>Em progresso</span>
      </div>
      <!-- <span id="porcent-progress">100% concluída</span> -->
    </div>
    <div class="finished" *ngIf="project.isFinished && activities.length > 0">
      <div class="status">
        <span>Concluído</span>
      </div>
      <span id="porcent-finished">100% concluída</span>
    </div>
    <div class="container-infos">
      <div class="form-left">
        <label for="activity">
          Quantidade de atividades
        </label>
        <div *ngIf="activities.length > 0" class="info-activities">
          <span>{{activities.length}} atividades</span>
          <a (click)="viewActivities(false)"><span>Ver atividades</span></a>
        </div>
        <span *ngIf="activities.length == 0">Não há atividades</span>
        <label for="colaborator">
          Quantidade de atividades concluídas
        </label>
        <div *ngIf="activitiesFinished.length > 0" class="info-activities">
          <span>{{activitiesFinished.length}} Atividades</span>
          <a  (click)="viewActivities(true)"><span>Ver atividades concluídas</span></a>
        </div>
        <span *ngIf="activitiesFinished.length == 0">Não há atividades</span>
      </div>
      <div class="form-right">
        <label for="colaborator">
          Número de colaboradores
        </label>
        <div *ngIf="colaborators.length > 0" class="info-colaborators">
          <span>{{colaborators.length}} Colaboradores</span>
          <a (click)="viewColaborator()"><span>Ver colaboradores</span></a>
        </div>
        <div *ngIf="colaborators.length == 0">
          <span>Não há Colaboradores</span>
        </div>

      </div>
    </div>

  </div>
  <div class="buttons">
    <div class="button-board">
      <button type="button" class="btn btn-lg" [routerLink]="['/board/project/' + project?.id + '/colaborator/' + userId]">Ir para o Board</button>
    </div>

    <div class="button-logout">
      <button type="button" class="btn btn-lg" routerLink="/projects">Voltar</button>
    </div>
  </div>
</ng-container>
</div>
