<div class="container">
  <div class="head-project">
    <span class="name">Projeto</span>
    <span class="description">description</span>
  </div>
      <div class="form-container">
        <div class="progress">
          <div class="status">
            <span>Concluído</span>
          </div>
          <span id="porcent-progress">100% concluída</span>
        </div>
        <div class="body-details">
          <div class="form-left">
            <label for="reponsible">
              Responsáveis
            </label>
            <span>NAME1 NAME2...</span>
            <a href="">Visualizar</a>

            <label for="qtdAtividades">
              Quantidade de Atividades
            </label>
            <span>XX atividades</span>
            <a href="">Visualizar</a>
          </div>
          <div class="form-right">
            <label for="colaborators">
              Quantidade de colaboradores
            </label>
            <span>XX colaboradores</span>
            <a href="">Visualizar</a>

            <label for="qtdtaskFinish">Quantidade de atividades concluídas</label>
            <span>XX atividades concluidas</span>
            <a href="">Visualizar</a>
          </div>
        </div>

      </div>

  <div class="buttons">
    <div class="button-login">
      <button type="button" class="btn btn-lg">Ir para o Board</button>
    </div>
    <div class="button-logout">
      <button type="button" class="btn btn-lg">Editar</button>
    </div>
  </div>
</div>
