<div class="container">
  <h5>Projetos</h5>
  <mat-expansion-panel [hideToggle]="false">
      <mat-expansion-panel-header>
          <mat-panel-title>Teste</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-panel-description><span>asdasdsad</span></mat-panel-description>
      <div class="form-container">
        <div class="progress">
          <div class="status">
            <span>Concluído</span>
          </div>
          <span id="porcent-progress">100% concluída</span>
        </div>

      <div class="container-infos">
        <div class="activity-total">
          <label for="activity">
            Quantidade de atividades:
          </label>
          <span> 33 atividades</span>
        </div>

        <div class="activity-finished">
          <label for="colaborator">
            Atividades concluídas:
          </label>
          <span> 23 Atividades concluídas</span>
        </div>
      </div>
      <div class="activity-colaborator">
        <label>
          Minhas Atividades
        </label>

        <table class="table table-sm">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Status</th>
              <th>Tempo</th>
            </tr>

          </thead>
          <tbody>
            <tr class="table-default">
              <td>ID DE REGISTRO TITULO DA ATIVIDADE</td>
              <td>Setor da atividade</td>
              <td>Tempo estimado</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buttons">
        <div class="button-login">
          <button type="button" class="btn btn-lg">Ir para o Board</button>
        </div>
      </div>
    </div>
    </mat-expansion-panel>
</div>
