<div class="modal-header d-flex">
  <div class="title w-100">
    <h4>Detalhes Atividade</h4>
  </div>
  <button type="button" class="btn-close close" data-dismiss="modal" (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body d-flex justify-content-center">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <div class="content-head">
        <label for="">{{activity.identifier}} - {{activity.title}}</label>
        <div class="d-flex flex-row justify-content-between">
          <label for="">{{activity.description}}</label>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between mt-1">
        <div class="info-line-3">
          <label class="title-info" for="">Setor: </label>
          <label for="">{{activity.sectorActivityEnum}}</label>
        </div>
        <!-- <div class="info-line-3">
          <label class="title-info" for="">Fase: </label>
          <label for="">{{activity.statusActivityEnum}}</label>
        </div> -->
        <div class="info-line-3">
          <label class="title-info" for="">Tempo estimado: </label>
          <label for="">{{activity.estimatedTime}}</label>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between mt-1">
        <div>
          <label class="title-info" for="">Status: </label>
          <label for="">{{activity.tagsEnum}}</label>
        </div>
        <div class="info-line-4">
          <label class="title-info" for="">Prioridade: </label>
          <label for="">{{activity.statusPriorityEnum}}</label>
        </div>
      </div>
      <div class="mt-2">
        <div class="align-items-center container-dependent" [hidden]="!activity.isBlock">
          <button type="button" class="btn btn-link btn-sm" (click)="viewDependentCard(activity)">
            dependências
          </button>
        </div>
        <div class="activityDependent" [hidden]="activity.isBlock">
          <label class="title-info" for="">Não ha atividade pendente</label>
        </div>
      </div>

      <!-- <div class="d-flex flex-row justify-content-center mt-4">
        <button type="button" class="btn btn-outline-primary ml-2">Editar</button>
      </div> -->
    </div>

  </div>
</div>
