$blue: #007DB8


.title-info
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-weight: 700
  font-size: 14px
  margin-right: 3px

.info-line-3
  margin-right: 25px
.info-line-4
  margin-right: 10px
  margin-left: 10px

h4
  color: $blue
  margin: 0

.activityDependent
  .title-info
    margin-bottom: 5px
    display: flex
    justify-content: center
    align-items: center
