<div class="container">
    <div class="head">
      <h3>Recuperação de senha</h3>
      <span>Para recuperar a sua senha, informe seu endereço de email
        cadastrado para enviarmos um link para a alteração de senha.</span>
    </div>
    <form action="">
      <div class="form">
        <div class="label-email">
          <label for="email">
            Email da organização
          </label>
        </div>
        <div>
          <input type="email" name="email" id="email" class="form-control mb-3" autofocus>
        </div>
      </div>

      <div class="buttons">
        <div class="button-login">
          <button type="button" class="btn btn-lg">Enviar</button>
        </div>
        <div class="button-logout">
          <button type="button" class="btn btn-lg">Voltar</button>
        </div>
      </div>
    </form>
  </div>

